[defaults]
roles_path          = roles                 
inventory           = inventory/hosts.ini 
remote_user         = honeycorr              
host_key_checking   = False                 
stdout_callback     = yaml                   

[privilege_escalation]
become        = True        # utiliser sudo automatiquement
become_method = sudo